* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono';
    font-weight: 600;
}

nav {
    background: white;
    padding: 0  15px;
}

a {
    color: black;
    text-decoration: none;
}

.menu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    /* padding: 7.5px 10px 7.5px 10px; */
}

.item {
    /* padding: 10px; */
}

.item a:hover {
    color: hotpink;
}

/*Mobile Menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block; 
    padding: 15px 5px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item {
    width: 100%;
    order: 3;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

/*Tablet Menu*/
@media all and (min-width: 700px) {
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
}

/**/
@media all and (min-width: 960px) {
    .logo {
        display:inline;
        /* border: 1px green dashed; */
        text-align: center;
        white-space: nowrap;
    }
    .item {
        flex: 1;
        /* width: auto; */
        display: block;
        /* border: 1px green dashed; */
        white-space: nowrap;
    }
    .toggle {
        display: none;
    }
    .menu{
        /* border: 1px green dashed; */
    }
}